[Unit]
Description=Service enabling compressing RAM with zram zstd
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/local/sbin/zramswapenable
ExecStop=/bin/bash /usr/local/sbin/zramswapdisable
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target 
